body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4d4d4d;
    color: #fff;
    text-align: center;
    margin: 20px;
}

h2 {
    color: #fff;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #ccc;
}

input {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #fff;
    text-align: left;
}

th {
    background-color: #000;
}

#backButton {
    margin-top: 20px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#backButton:hover {
    background-color: #333;
}