* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(https://img.freepik.com/premium-photo/bookworms-haven-flat-lay-illustration-generative-ai_549702-707.jpg?w=1060);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bg {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.bg ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.bg ul li {
    margin: 0 10px;
    position: relative;
}

.bg ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    transition: color 0.3s;
}

.bg ul li a:hover {
    color: #ffd700;
}

.bg ul li:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #ffd700;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.bg ul li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.des h1 {
    color: #ffd700;
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}

.des p {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: opacity 0.5s;
}

.des p:hover {
    opacity: 1;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.name div {
    margin: 0 10px;
}

.des2 {
    display: flex;
    justify-content: center;
}

.card {
    width: 200px;
    height: 230px;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 10px 15px;
    background-color: #aaaaaa;
    border: 2px solid #9c9c9c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.5s, background-color 0.5s;
    position: relative;
    text-decoration: none;
}

.card-content {
    text-align: center;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    pointer-events: none;
}

.card1 {
    background-image: url("converter.png");
}

.card2 {
    background-image: url("calculator-removebg-preview.png");
}

.card3 {
    background-image: url("math-removebg-preview.png");
}

.card4 {
    background-image: url("payroll-removebg-preview.png");
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: #000000;
}

.card p {
    text-shadow: 0 0 15px #000;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.5s;
}

.card:hover p {
    opacity: 1;
}